<footer class="footer-area">
        <div class="copyright-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright &copy; 2021 - All Right Reserved.</p>
                        <p>Designed by <a href="https://www.linkedin.com/in/dang-van-luc-48bb5b179">Nona.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>