<footer class="footer-area">
        <div class="copyright-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright &copy; 2024 - All Right Reserved.</p>
                        <p>Designed by <a href="https://github.com/noname9xndz">Luke.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>