<header id="home" class="home-area hero-equal-height overflow-hidden section-padding">
    <div id="particles-js">@*<canvas class="particles-js-canvas-el" width="1903" height="328" style="width: 100%; height: 100%;"></canvas>*@</div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-10 offset-lg-1 col-md-8 offset-md-2">
                <div class="text-center home-content z-index position-relative">
                    <h1>Nona</h1>
                    <p>I'm a front-end and back-end developer with a passion for learning.</p>
                    <p>I help your business and individuals by developing websites. I build websites to make you successful in the long term. We are Professional <span class="element" data-text1="back end developer." data-text2="front end developer." data-text3="front end developer." data-loop="true" data-backdelay="1500"></span></p>

                    <a href="#contact" class="button js-scroll">Get in Touch</a>
                </div>

            </div>

            <div class="social">
                <a class="text">Social Links</a>
                <div class="line"></div>
                <a href="https://www.facebook.com/nonametw"><i class="fa fa-facebook"></i>  </a>
                <a href="https://twitter.com/nona_std"><i class="fa fa-twitter" aria-hidden="true"></i>  </a>
                <a href="https://join.skype.com/invite/aEne0uEgBL40"><i class="fa fa-skype" aria-hidden="true"></i>  </a>
                <a href="https://www.linkedin.com/in/dang-van-luc-48bb5b179"><i class="fa fa-linkedin" aria-hidden="true"></i>  </a>
                <a href="https://github.com/noname9xndz"><i class="fa fa-github" aria-hidden="true"></i>  </a>
            </div>
        </div>
    </div>
</header>