<section id="about" class="about-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title">
                            <h2>About Me</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="about-image">
                            <img src="assets/img/about.jpg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="about-content">
                            <h3>Welcome to <span class="color-text">My Profile</span></h3>
                            <h3>- It's my pleasure to introduce about myself.</h3>
                            <p>Hello i'm <strong class="color-text">Luke from Viet Nam</strong>. i'm front-end & back-end developer using C#, Go and Python with 6+ years of experience. With more than 6 years experience in front-end & back-end development, I have deep understanding of the technologies and the processes required for realising a successful web project from A to Z.</p>
                            <br>
                            <h3>What are my values?</h3>
                            <p>When developing a web project, I focus on understanding the business goals and delivering a final product that will really work for the client.</p>
                            <br>
                            <p><b>Phone:</b> +039 211 xxxx
                                <br><b>E-mail:</b> noname9xnd@gmail.com
                                <br><b>Skype:</b> noname9xnd</p>
                            <a href="https://github.com/noname9xndz" class="button js-scroll">My CV</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
