<section class="counter-area section-padding">
            <div class="container">
                <div class="counter-inner-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 counter-item">
                            <div class="single-counter-box">
                                <div class="single-counter">
                                    <h3 class="odometer" data-count="15">00</h3>
                                    <p>Years of experience</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 counter-item">
                            <div class="single-counter-box">
                                <div class="single-counter">
                                    <h3 class="odometer" data-count="3700">00</h3>
                                    <p>Complete Project</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 counter-item">
                            <div class="single-counter-box">
                                <div class="single-counter">
                                    <h3 class="odometer" data-count="2500">00</h3>
                                    <p>Happy Client</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 counter-item">
                            <div class="single-counter-box">
                                <div class="single-counter">
                                    <h3 class="odometer" data-count="1300">00</h3>
                                    <p>Award Winner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>