@page "/"

 <!-- Page Wrapper Section Start -->
    <div class="maslin-page-wrapper">

    <!-- Navbar Start -->
    <NavMenu />
    <!-- Navbar End -->

        <!-- Home Section Start -->
    <Header />
        <!-- Home Section End -->

        <!-- About Section Start -->
        <About />
        <!-- About Section End -->
		
		<!-- Skill Section Start -->
		@* <Skill /> *@
		<!-- Skill Section End -->

        <!-- Service Section Start -->
        @* <Service /> *@
        <!-- Service Section End -->

        <!-- Counter Section Start -->
         @* <Counter /> *@
        <!-- Counter Section End -->

        <!-- Project Section Start -->
        @* <Project /> *@
        <!-- Project Section End -->

		<!-- Testimonials Section Start -->
		@* <Testimonials /> *@
		<!-- Testimonials Section End -->
		
		
        <!-- Contact Section Start -->
        <Contact />
        <!-- Contact Section End -->

        <!-- Map Section Start -->
         @* <Map /> *@
        <!-- Map Section End -->

         <Lines />

    </div>
    <!-- Page Wrapper Section End -->
