<section id="service" class="service-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title">
                            <h2>My Service</h2>
                        </div>
                    </div>
                </div>
                <div class="service-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 services-item">
                            <div class="single-services-box">
                                <div class="single-services">
                                    <div class="services-icon"> <i class="pe-7s-display1"></i> </div>
                                    <div class="services-text">
                                        <h3>Web Development</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 services-item">
                            <div class="single-services-box">
                                <div class="single-services">
                                    <div class="services-icon"> <i class="pe-7s-graph1"></i> </div>
                                    <div class="services-text">
                                        <h3>Market Analysis</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 services-item">
                            <div class="single-services-box">
                                <div class="single-services">
                                    <div class="services-icon"> <i class="pe-7s-tools"></i> </div>
                                    <div class="services-text">
                                        <h3>Ui ux Design</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 services-item">
                            <div class="single-services-box">
                                <div class="single-services">
                                    <div class="services-icon"> <i class="pe-7s-share"></i> </div>
                                    <div class="services-text">
                                        <h3>Fast Communication</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 services-item">
                            <div class="single-services-box">
                                <div class="single-services">
                                    <div class="services-icon"> <i class="pe-7s-edit"></i> </div>
                                    <div class="services-text">
                                        <h3>SEO Optimization</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 services-item">
                            <div class="single-services-box">
                                <div class="single-services">
                                    <div class="services-icon"> <i class="pe-7s-target"></i> </div>
                                    <div class="services-text">
                                        <h3>Ui ux Design</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>