<section class="skill-area section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-6 skill-box">
						<!-- skill item -->
						<div class="skill-item">
							<div class="skill-info clearfix">
								<h4 class="float-left mb-3 mt-0">HTML & CSS</h4>
								<span class="float-right">90%</span>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 skill-box">
						<!-- skill item -->
						<div class="skill-item">
							<div class="skill-info clearfix">
								<h4 class="float-left mb-3 mt-0">jQuery</h4>
								<span class="float-right">95%</span>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="85">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 skill-box">
						<!-- skill item -->
						<div class="skill-item">
							<div class="skill-info clearfix">
								<h4 class="float-left mb-3 mt-0">WordPress</h4>
								<span class="float-right">85%</span>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="85">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 skill-box">
						<!-- skill item -->
						<div class="skill-item">
							<div class="skill-info clearfix">
								<h4 class="float-left mb-3 mt-0">Adobe Photoshop</h4>
								<span class="float-right">70%</span>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 skill-box">
						<!-- skill item -->
						<div class="skill-item">
							<div class="skill-info clearfix">
								<h4 class="float-left mb-3 mt-0">Adobe Illustration</h4>
								<span class="float-right">70%</span>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 skill-box">
						<!-- skill item -->
						<div class="skill-item">
							<div class="skill-info clearfix">
								<h4 class="float-left mb-3 mt-0">Adobe Premiere Pro</h4>
								<span class="float-right">90%</span>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90">
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>